fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary

python-jose[cryptography]

passlib[bcrypt]

python-multipart

python-dotenv

pydantic

pydantic-settings

email-validator

opencv-python

numpy

Pillow

pytesseract

elasticsearch

pytest

httpx